<!DOCTYPE html>

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Reasoner</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
	window.jQuery || document.write('<script src="{{url_for('static', filename='jquery-3.3.1.min.js') }}">\x3C/script>')
</script>

<body>
	<button id="go_back_index_page" onclick="window.location.href='{{ url_for("index") }}'">Back</button>

	<h2>Story</h2>
  <textarea id="story" style="width:800px;height:100px;"></textarea>
  <h2>Query</h2>
  <textarea id="query" style="width:800px;"></textarea>
  <button id="upload_text" onclick="uploadText();">start reason</button>

  <h2>Output</h2>
  <pre id="output"></pre>

  <h2>Log</h2>
  <pre id="log"></pre>

	<script>
	var fnames = [];

	function uploadText() {
		var text = document.getElementById("input_text").value

	    if (text != '') {
	      	var filename = (new Date().toISOString() + '.txt').replace(/:/g, "_");
	      	fnames.push(filename);

	      	var fd = new FormData();
	      	fd.append('fname', filename);
	      	fd.append('text', text);
	      	$.ajax({
	          type: 'POST',
	          url: '/saveText',
	          data: fd,
	          processData: false,
	          contentType: false
      		}).done(function(data) {
      			__log('Upload to server successfully.');
      		}).fail(function(jqXHR, textStatus, error) {
              __log('Upload to server failed')
          	});
	      
    	}
	}

	function __log(e, data) {
    	log.innerHTML += "\n" + e + " " + (data || '');
  	}

  	window.onbeforeunload = function() {
    	var fd = new FormData();
    	for (var i = fnames.length - 1; i >= 0; i--) {
      	fd.append('fnames', fnames[i]);
    	}
    
    	$.ajax({
        	type: 'POST',
        	url: '/deleteTexts',
        	data: fd,
        	processData: false,
        	contentType: false
    	}).done(function(data) {
        
    	}).fail(function(jqXHR, textStatus, error) {
        
    	});
  	}

	</script>

</body>
</html>